:root{
    
    --clrCorail:#ff7f50;
    --clrLightCorail:#fa8072;
    --clrPastelRed:#e45d5d;
    --clrdGreenCanard:#048b9a;
    --clrTurquoise:#40e0d0;
    --clrLightGreen:#a7dfd9;
    --clrGrey:#4f5b66;
    --clrBlue:#293e60;
    --clrWhite: #FFFFFF; 

    /* --ffBody:;
    --ffHeading:; */

    --ffRoboto:'Roboto', sans-serif;


    --fwThin: 100;
    --fwLight: 300;
    --fwRegular: 400;
    --fwSemiBold: 500;
    --fwBold: 700;

    --fs80: 0.8rem;
    --fs100: 1rem;
    --fs150: 1.5rem;
    --fs200: 2rem;
    --fs250: 2.5rem;
    --fs300: 3rem;

    /* peut être utile en cas de media query => changement plus rapides */
    --fsBody: var(--fs100);
    --fsSubtitle: var(--fs150);
    --fsTitle: var(--fs200);

}

/* === RESET === */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

/* remove style from button */
button{
  border: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

/* Set core body defaults */
body {
    font-family:var(--ffRoboto);
    text-rendering: optimizeSpeed;
    line-height: 2.5rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* === UTILITY === */
    /* font */
.ffStrict{
    font-family: var(--ffRoboto);
}

    /* largeur texte */
.fwThin{
    font-weight: var(--fwThin);
}
.fwLight{
    font-weight: var(--fwLight);
}
.fwRegular{
    font-weight: var(--fwRegular);
}
.fwSemiBold{
    font-weight: var(--fwSemiBold);
}
.fwBold{
    font-weight: var(--fwBold);
}

    /* Taille de texte */
.fs80{
    font-size: var(--fs80);
}
.fs100{
    font-size: var(--fs100);
}
.fs150{
    font-size: var(--fs150);
}
.fs200{
    font-size: var(--fs200);
}
.fs250{
    font-size: var(--fs250);
}
.fs300{
    font-size: var(--fs300);
}

    /* Valeurs texte */
.retourLigne{
    word-break: break-word;
  }
.justifyText{
    text-align: justify;
  }
.centerText{
    text-align: center;
  }
.textDecoNone{
    text-decoration: none;
  }

